@page
@{
    ViewData["Title"] = "About Me";
    Layout = "_Layout";
}


<div class="d-flex w-100" id="banner">
    <div class="overlay w-100">
        <div class="row w-100">
            <div class="col-2"></div>
            <div class="col-8">
                <h3 class="font-weight-bold text-primary">About//Me</h3>
                <font class="weight-100 text-white">DevOps Engineer by day. Amateur Photographer by night.</font>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 text-left mt-5">
            <div class="w-100">
                <ul style="list-style: none;">
                    <li><font class="fbold">Previous Posts</font></li>
                    <li><a href="../archive/001/">Jan. 1, 2020 - First Blog</a></li>
                    <li><a href="../archive/001/">Jan. 1, 2020 - First Blog</a></li>
                    <li><a href="../archive/001/">Jan. 1, 2020 - First Blog</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 text-center mt-5">
            <div class="card w-100 rounded-0 text-left">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <img src="images/chef.png" class="w-100" />
                        </div>
                        <div class="col-9">
                            <h5 class="card-title text-primary">Chef Infra from a Beginner</h5>
                            <h6 class="card-subtitle mb-3 text-muted">
                                <img src="../images/face.jpg" class="br-50 mr-2" />
                                <a href="/aboutme/"> Jeffrey Adams</a>
                                <font class="weight-100 text-muted">6/4/2020 10:55 PM</font>
                            </h6>
                            <p class="card-text weight-100">
                                I'm relatively new to the infrastructure side of DevOps so
                                a lot of this is new to me. This post is more or less about my struggles through the piles
                                of documentation as well as geting familiar with Ruby.
                            </p>
                            <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-100 rounded-0 mt-4 text-left">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <img src="images/ruby.png" class="w-100" />
                        </div>
                        <div class="col-9">
                            <h5 class="card-title">Learning Ruby</h5>
                            <h6 class="card-subtitle mb-3 text-muted">
                                <img src="../images/face.jpg" class="br-50 mr-2" />
                                <a href="/aboutme/"> Jeffrey Adams</a>
                                <font class="weight-100 text-muted">6/4/2020 10:55 PM</font>
                            </h6>
                            <p class="card-text weight-100">
                                I'm relatively new to the infrastructure side of DevOps so
                                a lot of this is new to me. This post is more or less about my struggles through the piles
                                of documentation as well as geting familiar with Ruby.
                            </p>
                            <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-100 rounded-0 mt-4 text-left">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <img src="images/chef.png" class="w-100" />
                        </div>
                        <div class="col-9">
                            <h5 class="card-title">Chef Infra from a Beginner</h5>
                            <h6 class="card-subtitle mb-3 text-muted">
                                <img src="../images/face.jpg" class="br-50 mr-2" />
                                <a href="/aboutme/"> Jeffrey Adams</a>
                                <font class="weight-100 text-muted">6/4/2020 10:55 PM</font>
                            </h6>
                            <p class="card-text weight-100">
                                I'm relatively new to the infrastructure side of DevOps so
                                a lot of this is new to me. This post is more or less about my struggles through the piles
                                of documentation as well as geting familiar with Ruby.
                            </p>
                            <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-100 rounded-0 mt-4 text-left">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <img src="images/chef.png" class="w-100" />
                        </div>
                        <div class="col-9">
                            <h5 class="card-title">Chef Infra from a Beginner</h5>
                            <h6 class="card-subtitle mb-3 text-muted">
                                <img src="../images/face.jpg" class="br-50 mr-2" />
                                <a href="/aboutme/"> Jeffrey Adams</a>
                                <font class="weight-100 text-muted">6/4/2020 10:55 PM</font>
                            </h6>
                            <p class="card-text weight-100">
                                I'm relatively new to the infrastructure side of DevOps so
                                a lot of this is new to me. This post is more or less about my struggles through the piles
                                of documentation as well as geting familiar with Ruby.
                            </p>
                            <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-100 rounded-0 mt-4 mb-5 text-left">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <img src="images/chef.png" class="w-100" />
                        </div>
                        <div class="col-9">
                            <h5 class="card-title">Chef Infra from a Beginner</h5>
                            <h6 class="card-subtitle mb-3 text-muted">
                                <img src="../images/face.jpg" class="br-50 mr-2" />
                                <a href="/aboutme/"> Jeffrey Adams</a>
                                <font class="weight-100 text-muted">6/4/2020 10:55 PM</font>
                            </h6>
                            <p class="card-text weight-100">
                                I'm relatively new to the infrastructure side of DevOps so
                                a lot of this is new to me. This post is more or less about my struggles through the piles
                                of documentation as well as geting familiar with Ruby.
                            </p>
                            <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 text-left mt-5">
            <div class="w-100 whitebox p-2">
                <ul>
                    <li><font class="fbold">Helpful Links</font></li>
                    <li><a href="../archive/001/">Stack Overflow</a></li>
                    <li><a href="../archive/001/">MS Docs</a></li>
                    <li><a href="../archive/001/">Tech Blog</a></li>
                </ul>
                <div class="border border-bottom border-light"></div>
                <ul>
                    <li><a href="../archive/001/">Stack Overflow</a></li>
                    <li><a href="../archive/001/">MS Docs</a></li>
                    <li><a href="../archive/001/">Tech Blog</a></li>
                </ul>
                <div class="border border-bottom border-light"></div>
                <ul>
                    <li><a href="../archive/001/">Stack Overflow</a></li>
                    <li><a href="../archive/001/">MS Docs</a></li>
                    <li><a href="../archive/001/">Tech Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>