@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<div class="row h-100 align-middle" style="color: #fff;">
    <div class="col1 text-center align-middle">
        <div class="overlay w-100 h-100 hba fadein-1">
            <a href="/aboutme" class="title-text" id="tt1">About Me</a>
        </div>
    </div>
    <div class="col2 text-center">
        <div class="overlay w-100 h-100 hba fadein-2">
            <a  href="/photography" class="title-text" id="tt2">Photography</a>
        </div>
    </div>
    <div class="col3 text-center">
        <div class="overlay w-100 h-100 hba fadein-3">
            <a href="/devlife" class="title-text" id="tt3">Dev//Life</a>
        </div>
    </div>
</div>
