@page
@{
    ViewData["Title"] = "Photography";
    Layout = "_PhotoLayout";
}

<div class="overlay-p w-100 mh-100" style="color: #fff;">
    <div class="container text-center">
        <h3>Jeffrey Adams</h3>
        <h1>Photography</h1>
        <div class="container text-center mt-5">
            <font class="sm-h4">Coding is my passion. Photography is my expression.</font>
        </div>
        <a href="/portfolio" class="btn btn-outline-light rounded-0 mt-2">Portfolio</a>
    </div>
</div>

