@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "Portfolio";
}

<div class="row">
    <div class="col w-25">
        <div class="container-h mb-2">
            <img src="../images/mural1.jpg" alt="Mural" class="image-h">
            <div class="overlay-h">
                <div class="text-h">
                    <a href="../images/mural1.jpg" class="wl">Mural // Cookeville</a>
                </div>
            </div>
        </div>

        <div class="container-h mb-2">
            <img src="../images/luna1.jpg" alt="Luna Dog" class="image-h">
            <div class="overlay-h">
                <div class="text-h">
                    <a href="../images/luna1.jpg" class="wl">Luna Doggy // Cookeville</a>
                </div>
            </div>
        </div>

        <div class="container-h mb-2">
            <img src="../images/restro.jpg" alt="Retro Car" class="image-h">
            <div class="overlay-h">
                <div class="text-h">
                    <a href="../images/restro.jpg" class="wl">Retro Cars // Cookeville</a>
                </div>
            </div>
        </div>

        <div class="container-h mb-2">
            <img src="../images/poets.jpg" alt="Coffee Shop" class="image-h">
            <div class="overlay-h">
                <div class="text-h">
                    <a href="../images/poets.jpg" class="wl">Poets // Cookeville</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col w-25">
        <div class="container-h mb-2">
            <img src="../images/jnl.jpg" alt="Mom and Brother" class="image-h">
            <div class="overlay-h">
                <div class="text-h">
                    <a href="../images/jnl.jpg" class="wl">Brother and Mom // Gallatin</a>
                </div>
            </div>
        </div>

        <div class="container-h mb-2">
            <img src="../images/jla.jpg" alt="Brother" class="image-h">
            <div class="overlay-h">
                <div class="text-h">
                    <a href="../images/jla.jpg" class="wl">Brother // Gallatin</a>
                </div>
            </div>
        </div>

        <div class="container-h mb-2">
            <img src="../images/nmural.jpg" alt="Girl at Mural" class="image-h">
            <div class="overlay-h">
                <div class="text-h">
                    <a href="../images/nmural.jpg" class="wl">Girl at Mural // Cookeville</a>
                </div>
            </div>
        </div>

        <div class="container-h mb-2">
            <img src="../images/pbg.jpg" alt="Waterfall" class="image-h">
            <div class="overlay-h">
                <div class="text-h">
                    <a href="../images/pbg.jpg" class="wl">Waterfall // Waterloo</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col w-25">
        <div class="container-h mb-2">
            <img src="../images/houseplant.jpg" alt="Dying Plant" class="image-h">
            <div class="overlay-h">
                <div class="text-h">
                    <a href="../images/houseplant.jpg" class="wl">Dying Plant // Cookeville</a>
                </div>
            </div>
        </div>

        <div class="container-h mb-2">
            <img src="../images/luna2.jpg" alt="Luna Dog" class="image-h">
            <div class="overlay-h">
                <div class="text-h">
                    <a href="../images/luna2.jpg" class="wl">More Luna // Cookeville</a>
                </div>
            </div>
        </div>

        <div class="container-h mb-2">
            <img src="../images/layuh.jpg" alt="Leia Dog" class="image-h">
            <div class="overlay-h">
                <div class="text-h">
                    <a href="../images/layuh.jpg" class="wl">Leia Doggy // Cookeville</a>
                </div>
            </div>
        </div>

        <div class="container-h mb-2">
            <img src="../images/cherry.jpg" alt="Classic Car" class="image-h">
            <div class="overlay-h">
                <div class="text-h">
                    <a href="../images/cherry.jpg" class="wl">Cherry // Cookeville</a>
                </div>
            </div>
        </div>
    </div>
</div>

